{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'poll/css/detail.css' %}">
  <link rel="stylesheet" href="{% static 'poll/css/style.css' %}">
  <title>Details</title>
</head>
<body>
  <form action="{% url 'poll:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>{{question.question_text}}</h1></legend>
      {% if errorMessage  %}
      <p><strong>{{errorMessage}}</strong></p>
      {% endif %}
  
      {% for choise in question.choise_set.all  %}
      <input type="radio" name="choise" id="choise {{forloop.counter}}" value="{{choise.id}}">
      <label for="choise {{forloop.counter}}">
        {{choise.choise_text}}
      </label>
    {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">
  </form>
</body>
</html>


{% comment %} <h1>{{question.question_text}}</h1>
<ul>
  {% for question in question.choise_set.all  %}
    <li>{{question.choise_text}}</li>
  {% endfor %}
</ul> {% endcomment %}